bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.DotSettings.user
*.DotSettings
*.dbmdl
*.log
*.ncrunch*
*.vshost.*
TestResults/
*.vsix
*.swp
*.DS_Store
*.idea/
*.code-workspace
build/manifest/*
